#footer-widgets
    p
        font-size: 0.925em
    h4
        letter-spacing: 0!important
        font-weight: 900!important
        text-transform: none!important
        margin-bottom: 10px!important
    a
        transition: all 200ms ease
        &:hover
            opacity: 0.7
            margin-left: 5px