#page-header-bg 
    .span_6 
        h1
            font-size: 3em!important
            margin-top: 30px
    .subheader
        max-width: 530px
        display: block
        float: left
<<<<<<< HEAD
        text-shadow: 0 3px 6px rgba(0,0,0,.5)
=======
        //text-shadow: 0 3px 6px rgba(0,0,0,.5)
>>>>>>> 24c8bd301a7452a14d5899f4d506abc760b7cc5e
    .inner-wrap
        width: 100% !important